body {
    color: darkred;
    background-color: plum;
}
   h1{
       font-size: 60px;
   }
.my-body {
    text-align: center;
}
ul,ol {
    color: rgb(44, 5, 63);
}
nav a {
    font-size: 20px;
}